{% extends "base.html" %}
{% comment %} {% include '_navbar.html' %} {% endcomment %}
{% block content %}
{% include '_navbar.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amenities - Hotel Booking</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<h2 class="mt-5">Loan Items</h2>
        <ul>
            <li class="loan-item">Wine Opener and Extension Cord</li>
            <li class="loan-item">Iron and Iron Board</li>
            <li class="loan-item">Bottle Opener</li>
            <li class="loan-item">Nail Clipper</li>
            <li class="loan-item">Umbrella</li>
            <li class="loan-item">Power Bank</li>
            <li class="loan-item">Charger</li>
            <li class="loan-item">Adapter</li>
            <li class="loan-item">Headphones</li>
            <li class="loan-item">Mouse</li>
            <li class="loan-item">Keyboard</li>
            <li class="loan-item">Webcam</li>
            <li class="loan-item">Microphone</li>
            <li class="loan-item">Speaker</li>
        </ul>
    
        <h2 class="mt-5">Contact Us</h2>
        <p>If you have any questions or need assistance, please contact us at: x5050</p>
        <p>Or visit our <a href="https://www.rsyhotel.com">website</a> for more information.</p
            <p>Follow us on social media:</p>
        <ul>
            <li><a href="https://www.facebook.com/rsyhotel">Facebook</a></li>
            <li><a href="https://www.instagram.com/rsyhotel">Instagram</a></li>
            <li><a href="https://www.twitter.com/rsyhotel">Twitter</a></li>
            <li><a href="https://www.linkedin.com/company/rsyhotel">LinkedIn</a></li>
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</head>
</html>
{% endblock %}     