{% extends 'base.html' %} {% load static %} {% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {background-image:url();}
        .room-image {
            max-height: 200px;
            margin-bottom: 10px;
        }

        .room-container {
            display: flex;
            align-items: center;
            margin-bottom: 20px; /* Space between room sections */
        }

        .room-info {
            margin-left: 20px; /* Space between image and form */
        }
    </style>
<body>
<section id="register" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4><i class="fas fa-user-plus"></i> 登記 :</h4>
            </div>
            <div class="card-body">
              <!-- add alerts -->
              {% include '_alert.html' %}
              <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="first_name">姓 :</label>
                  <input
                    type="text"
                    name="first_name"
                    class="form-control"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="last_name">名字 :</label>
                  <input
                    type="text"
                    name="last_name"
                    class="form-control"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="username">用户名 :</label>
                  <input
                    type="text"
                    name="username"
                    class="form-control"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="email">電郵 :</label>
                  <input
                    type="email"
                    name="email"
                    class="form-control"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="password">密碼 :</label>
                  <input
                    type="password"
                    name="password"
                    class="form-control"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="password2">確認密碼 :</label>
                  <input
                    type="password"
                    name="password2"
                    class="form-control"
                    required
                  />
                </div>
                <input
                  type="submit"
                  value="Register"
                  class="btn btn-secondary btn-block"
                />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>  
{% endblock %}